In [86]:
# pip install -r requirements.txt

import pandas as pd
import numpy as np

from os import walk, path
from typing import Iterable, Union

In [90]:
EXTENSIONS = {
    "t": lambda file: pd.read_csv(file, sep="\t"),
    "c": lambda file: pd.read_csv(file, sep=","),
    "s": lambda file: pd.read_csv(file, sep=" "),
    "j": lambda file: pd.read_json(file)
}

def read_data(files: Union[Iterable[str], str]):
    if isinstance(files, str):
        files = [files]
    
    supported_files = (
        file for file in files
        if file.split(".")[-1][0] in EXTENSIONS
    )
    
    data_frames = [
        EXTENSIONS[file.split(".")[-1][0]](file)
        for file in supported_files
    ]

    unsupported_files = (
        file for file in files
        if file.split(".")[-1][0] not in EXTENSIONS
    )

    for file in unsupported_files:
        print(f"Unsupported file extension: {file.split('.')[-1]}", flush=True)

    return data_frames

In [99]:
root, dirs, files = next(walk("data"))
print(files)
files = (path.join(root, file) for file in files)

data = read_data(files)

predictions_df, tweet_json_df, twitter_enhanced_df = data

['image-predictions.tsv', 'tweet-json.json', 'twitter-archive-enhanced.csv']

# After I loaded the data successfully, It's time to merge them to reduce duplicates

In [105]:
predictions_df.rename(columns={"tweet_id": "id"}, inplace=True)
predictions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       2075 non-null   int64
 1   jpg_url  2075 non-null   object
 2   img_num  2075 non-null   int64
 3   p1       2075 non-null   object
 4   p1_conf  2075 non-null   float64
 5   p1_dog   2075 non-null   bool
 6   p2       2075 non-null   object
 7   p2_conf  2075 non-null   float64
 8   p2_dog   2075 non-null   bool
 9   p3       2075 non-null   object
 10  p3_conf  2075 non-null   float64
 11  p3_dog   2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [106]:
tweet_json_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 31 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   created_at                     2354 non-null   datetime64[ns, UTC]
 1   id                             2354 non-null   int64
 2   id_str                         2354 non-null   int64
 3   full_text                      2354 non-null   object
 4   truncated                      2354 non-null   bool
 5   display_text_range             2354 non-null   object
 6   entities                       2354 non-null   object
 7   extended_entities              2073 non-null   object
 8   source                         2354 non-null   object
 9   in_reply_to_status_id          78 non-null     float64
 10  in_reply_to_status_id_str      78 non-null     float64
 11  in_reply_to_user_id            78 non-null     float64
 12  in_reply_to_user_id_str        78 non-null     float64
 13  in_reply_to_screen_name        78 non-null     object
 14  user                           2354 non-null   object
 15  geo                            0 non-null      float64
 16  coordinates                    0 non-null      float64
 17  place                          1 non-null      object
 18  contributors                   0 non-null      float64
 19  is_quote_status                2354 non-null   bool
 20  retweet_count                  2354 non-null   int64
 21  favorite_count                 2354 non-null   int64
 22  favorited                      2354 non-null   bool
 23  retweeted                      2354 non-null   bool
 24  possibly_sensitive             2211 non-null   float64
 25  possibly_sensitive_appealable  2211 non-null   float64
 26  lang                           2354 non-null   object
 27  retweeted_status               179 non-null    object
 28  quoted_status_id               29 non-null     float64
 29  quoted_status_id_str           29 non-null     float64
 30  quoted_status                  28 non-null     object
dtypes: bool(4), datetime64[ns, UTC](1), float64(11), int64(4), object(11)
memory usage: 505.9+ KB

In [108]:
twitter_enhanced_df.rename(columns={"tweet_id": "id"}, inplace=True)
twitter_enhanced_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        1611 non-null   object
 13  doggo                       97 non-null     object
 14  floofer                     10 non-null     object
 15  pupper                      257 non-null    object
 16  puppo                       30 non-null     object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [111]:
merge_on_columns = ["id"]

# Merge DataFrames
df = pd.merge(predictions_df, tweet_json_df, on=merge_on_columns, how="inner")
df = pd.merge(df, twitter_enhanced_df, on=merge_on_columns, how="inner")

# Display the first few rows of the merged DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2073 entries, 0 to 2072
Data columns (total 58 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             2073 non-null   int64
 1   jpg_url                        2073 non-null   object
 2   img_num                        2073 non-null   int64
 3   p1                             2073 non-null   object
 4   p1_conf                        2073 non-null   float64
 5   p1_dog                         2073 non-null   bool
 6   p2                             2073 non-null   object
 7   p2_conf                        2073 non-null   float64
 8   p2_dog                         2073 non-null   bool
 9   p3                             2073 non-null   object
 10  p3_conf                        2073 non-null   float64
 11  p3_dog                         2073 non-null   bool
 12  created_at                     2073 non-null   datetime64[ns, UTC]
 13  id_str                         2073 non-null   int64
 14  full_text                      2073 non-null   object
 15  truncated                      2073 non-null   bool
 16  display_text_range             2073 non-null   object
 17  entities                       2073 non-null   object
 18  extended_entities              2073 non-null   object
 19  source_x                       2073 non-null   object
 20  in_reply_to_status_id_x        23 non-null     float64
 21  in_reply_to_status_id_str      23 non-null     float64
 22  in_reply_to_user_id_x          23 non-null     float64
 23  in_reply_to_user_id_str        23 non-null     float64
 24  in_reply_to_screen_name        23 non-null     object
 25  user                           2073 non-null   object
 26  geo                            0 non-null      float64
 27  coordinates                    0 non-null      float64
 28  place                          1 non-null      object
 29  contributors                   0 non-null      float64
 30  is_quote_status                2073 non-null   bool
 31  retweet_count                  2073 non-null   int64
 32  favorite_count                 2073 non-null   int64
 33  favorited                      2073 non-null   bool
 34  retweeted                      2073 non-null   bool
 35  possibly_sensitive             2073 non-null   float64
 36  possibly_sensitive_appealable  2073 non-null   float64
 37  lang                           2073 non-null   object
 38  retweeted_status               79 non-null     object
 39  quoted_status_id               0 non-null      float64
 40  quoted_status_id_str           0 non-null      float64
 41  quoted_status                  0 non-null      object
 42  in_reply_to_status_id_y        23 non-null     float64
 43  in_reply_to_user_id_y          23 non-null     float64
 44  timestamp                      2073 non-null   object
 45  source_y                       2073 non-null   object
 46  text                           2073 non-null   object
 47  retweeted_status_id            79 non-null     float64
 48  retweeted_status_user_id       79 non-null     float64
 49  retweeted_status_timestamp     79 non-null     object
 50  expanded_urls                  2073 non-null   object
 51  rating_numerator               2073 non-null   int64
 52  rating_denominator             2073 non-null   int64
 53  name                           1496 non-null   object
 54  doggo                          80 non-null     object
 55  floofer                        8 non-null      object
 56  pupper                         221 non-null    object
 57  puppo                          24 non-null     object
dtypes: bool(7), datetime64[ns, UTC](1), float64(18), int64(7), object(25)
memory usage: 840.3+ KB

# Now after the merge we need to inspect the data carefully to find any problems

In [112]:
print(df.columns)

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo'],
      dtype='object')

In [121]:
print(df["doggo"].unique())
print(df["puppo"].unique())
print(df["pupper"].unique())
print(df["floofer"].unique())
print(df[df["pupper"] == "pupper"]["name"].unique())

[nan 'doggo']
[nan 'puppo']
[nan 'pupper']
[nan 'floofer']
['Roscoe' 'Gus' 'a' nan 'Ginger' 'Jed' 'Sierra' 'Rover' 'Jamesy' 'Boomer'
 'Gidget' 'Pickles' 'Clark' 'Ava' 'Kona' 'Gabe' 'Chelsea' 'Dido'
 'Herschel' 'Cooper' 'Craig' 'Ollie' 'Bones' 'Sampson' 'Bo' 'Baloo'
 'Laika' 'Ralphy' 'mad' 'Pinot' 'Sophie' 'Huck' 'Winnie' 'Willem' 'just'
 'Louie' 'Eve' 'Maggie' 'Jax' 'Lola' 'Milo' 'Malcolm' 'Zoe' 'Finn'
 'actually' 'Edmund' 'Aqua' 'Benji' 'Rory' 'Buckley' 'Rooney' 'all'
 'Rueben' 'Lillie' 'Ashleigh' 'Luther' 'Oliver' 'Derek' 'Clyde' 'Smokey'
 'Ozzy' 'Winston' 'Chuckles' 'Finnegus' 'Adele' 'Ambrose' 'Ralphson'
 'Scooter' 'Sansa' 'Millie' 'Misty' 'Trevith' 'Lorenzo' 'Grady' 'Phil'
 'Wally' 'Gizmo' 'Lucy' 'Trip' 'Hamrick' 'Lizzie' 'Blakely' 'Curtis'
 'Mona' 'Olivia' 'Birf' 'the' 'Marty' 'Otis' 'Hubertson' 'Gerbald'
 'Sweets' 'Banjo' 'Brandy' 'Larry' 'Patrick' 'Charlie' 'Toffee' 'Ellie'
 'Hector' 'Kawhi' 'Rinna' 'Dwight' 'Bella' 'Godzilla' 'Pepper' 'Zuzu'
 'Mollie' 'Superpup' 'Rufio' 'Lennon' 'Kaiya' 'one' 'Obie' 'Raymond'
 'Albert' 'Jeffri' 'Django' 'Fletcher' 'Schnozz' 'Chet' 'Cheryl' 'Norman'
 'Scott' 'Jazz' 'Rolf' 'Opal' 'Bubba']